<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Logger</h1>

        <form method="POST" action="/log/submit">
            <fieldset>
                <legend>Details</legend>
                <label for="activity">ACTIVITY</label>
                <select id="activity" name = activity required>
                    <option value="Play">Play</option>
                    <option value="Read">Read</option>
                    <option value="Study">Study</option>
                    <option value="Youtube">Youtube</option>
                    <option value="Eat">Eat</option>
                    <option value="Instagram">Instagram</option>
                    <option value="Others">Others</option>
                </select><br><br>
                <label for="date">DATE</label>
                <input type="date" id = "date" name = "date" required><br><br>
                <label for="startTime">Start Time</label>
                <input type="time" id = "stime" name = "stime" required>
                <label for="EndTime">End Time</label>
                <input type="time" id = "etime" name = "etime" required><br><br>
                <input type="submit">
            </fieldset>
        </form>
        
        <script src="" async defer></script>
    </body>
</html>